{% extends 'base.html.twig' %}

{% form_theme form_register 'bootstrap_4_layout.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	{{ form_start(form_register) }}
	<div class="row justify-content-center mt-3 mb-3">
		<div class="col-md-8">
			<div class="card form">
				<div class="card-body">
					<h2>S'inscrire au site CIL Sainte Musse</h2>
					<form class="form-horizontal" method="post" action="#">
						{{ form_row(form_register.lastName, {'label':"Votre Nom :"}) }}
						{{ form_row(form_register.firstName, {'label':"Votre Prénom :"}) }}
						{{ form_row(form_register.email, {'label':"Votre email :"}) }}
						{{ form_row(form_register.birthday, {'label':"Votre date de naissance :"}) }}
						{{ form_row(form_register.adresse, {'label':"Votre adresse :"}) }}
						{{ form_row(form_register.city, {'label':"Votre ville :"}) }}
						{{ form_row(form_register.zipCode, {'label':"Votre code postal :"}) }}
						{{ form_widget(form_register) }}
						<input type="submit" class="btn btn-primary" value="S'enregistrer">
					</form>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form_register) }}

{% endblock %}
