<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('app_home') }}">CIL Sainte Musse</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if current_page is defined and current_page == 'accueil' %}active{% else %}''{% endif %}">
				<a href="{{path('app_home')}}" class="nav-link">Accueil</a>
			</li>
			<li class="nav-item {% if current_page is defined and current_page == 'contact' %}active{% else %}''{% endif %}">
				<a href="{{path('app_contact')}}" class="nav-link">Nous contacter</a>
			</li>
			{% if not app.user %}
				<li class="nav-item {% if current_page is defined and current_page == 'connexion' %}active{% else %}''{% endif %}">
					<a href="{{path('app_login')}}" class="nav-link">Connexion</a>
				</li>
				<li class="nav-item {% if current_page is defined and current_page == 'enregistrer' %}active{% else %}''{% endif %}">
					<a href="{{path('app_register')}}" class="nav-link">S'enregistrer</a>
				</li>

			{% else %}
				<li class="nav-item {% if current_page is defined and current_page == 'profil' %}active{% else %}''{% endif %}">
					<a href="{{path('user_show', { 'id': 'me' })}}" class="nav-link">Votre profil</a>
				</li>
				{% if app.user.isAdmin %}
					<li class="nav-item {% if current_page is defined and current_page == 'panneau_admin' %}active{% else %}''{% endif %}">
						<a href="{{path('admin_dashboard')}}" class="nav-link">Panneau admin</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{path('app_logout')}}" class="nav-link">Déconnexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
