{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}
	<h1>Post index</h1>

	<a href="{{path('admin_post_index')}}">
		<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Affiche la liste des articles">Liste des Articles</button>
	</a>
	<a href="{{path('admin_post_not_valided')}}">
		<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Affiche la liste des articles">En attente de validation</button>
	</a>
	<a href="{{path('admin_post_valided')}}">
		<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Affiche la liste des articles">Articles validés</button>
	</a>
	{% if app.user.isAdmin %}
		<a href="{{path('admin_post_members')}}">
			<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Affiche la liste des articles">Articles pour les membres</button>
		</a>
		<a href="{{path('admin_post_assembly')}}">
			<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Affiche la liste des articles">Articles pour l'assembléee</button>
		</a>
	{% endif %}

	<table class="table-sm table-striped">
		<thead>
			<tr>
				<th class="no-wrap" scope="col">Id</th>
				<th class="no-wrap" scope="col">Titre</th>
				<th class="no-wrap" scope="col">Auteur</th>
				<th class="no-wrap" scope="col">Ajouté le</th>
				<th class="no-wrap" scope="col">Modifié le</th>
				<th class="no-wrap" scope="col">Validé</th>
				{% if app.user.isAdmin %}
					<th class="no-wrap" scope="col">Visible par</th>
					<th class="no-wrap" scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td data-label="id">{{ post.id }}</td>
					<td data-label="Titre">{{ post.title }}</td>
					<td data-label="Auteur">{{ post.author }}</td>
					<td data-label="Ajouté le" class="no-wrap">{{ post.createdAt ? post.createdAt|date('d-m-Y') : '' }}</td>
					<td data-label="Modifié le" class="no-wrap">{{ post.modifiedAt ? post.modifiedAt|date('d-m-Y') : '<small class="text-muted">Pas modifié</small>' }}</td>
					<td data-label="Validé">
						{% if post.isValided == false %}En attente{% else %}Validé
						{% endif %}
					</td>
					{% if app.user.isAdmin %}
						<td data-label="Visible par">
							{% if post.onlyMembers == true and post.onlyAssembly == false %}membres
								{% elseif post.onlyMembers == false and post.onlyAssembly == true %}assembléee
								{% elseif post.onlyMembers == true and post.onlyAssembly == true %}assembléee/membre
								{% else %}tout le monde
							{% endif %}
						</td>
					{% endif %}
					<td data-label="Actions">
						<a href="{{ path('post_show', {'id': post.id}) }}">montrer</a>
						<a href="{{ path('post_edit', {'id': post.id}) }}">éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun article trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if id is defined and app.user.id == id %}
		<a class="btn btn-primary" href="{{ path('post_new') }}">Créer un nouvel article</a>
	{% endif %}
{% endblock %}
