{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<h1>Post</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ post.id }}</td>
			</tr>
			<tr>
				<th>Auteur</th>
				<td>{{ post.author }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ post.title }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ post.content }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>ModifiedAt</th>
				<td>{{ post.modifiedAt ? post.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
	{% if app.user.id == post.author.id and app.user.isAdmin != true %}
		<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

		{{ include('post/_delete_form.html.twig') }}

		<a class="btn btn-primary" href="{{ path('my_posts', {'id': post.author.id}) }}">back to list</a>
	{% endif %}

	{% if app.user.isAdmin %}


		<button class="btn btn-primary ml-3">
			<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
		</button>
			{{ include('post/_delete_form.html.twig') }}
		<button class="btn btn-primary ml-3">
			<a href="{{ path('admin_post_index') }}">Retourner à la liste</a>
		</button>
		<button class="btn btn-primary ml-3">
			<a href="{{ path('user_show', {'id': post.author.id}) }}">Voir la page de l'auteur</a>
		</button>
	{% endif %}
{% endblock %}
