{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex flex-column align-items-center">
		<div class="card mb-3 col-md-12">
			<div class="card-body">
				<div class="news-title">
					<div class="date">
						<span>{{ post.createdAt|date('d m Y')}}</span>
					</div>
					<h3 class="card-title">{{post.title}}</h3>
					<div class="author">
						<span>{{ post.author }}</span>
					</div>
				</div>
				<img class="card-image-top img-fluid my-3" src="{{ vich_uploader_asset(post, 'imageFile') }}">
				<p class="card-text">{{post.content | raw}}</p>
				<div class="row block-line-up">
					<div class="col">
						<small class="text-muted">Dans la catégorie
							{{ post.category.title }}</small>
					</div>
					{% if app.user.id is defined %}
						<div class="col-12">

							{% if app.user.id == post.author.id %}
								<small class="text-muted mr-2">
									<a href="{{ path('post_edit', {'id': post.id}) }}">Modifier</a>
								</small>
								<small class="text-muted">
									<a href="{{ path('my_posts', {'id': app.user.id}) }}">Voir mes artciles</a>
								</small>
							{% elseif app.user.isAdmin %}
								<small class="text-muted">
									<a href="{{ path('my_posts', {'id': post.author.id}) }}">Voir articles de l'auteur</a>
								</small>
							{% endif %}

						</div>
					{% endif %}
					{% if app.user.isAdmin %}
						<div class="col-12">
							<small class="text-muted">ID de l'article :
								{{ post.id }}</small>
						</div>
						<div class="col-12">
							<small class="text-muted">Créé le :
								{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</small>
						</div>
						<div class="col-12">
							<small class="text-muted">Modifié le :
								{{ post.modifiedAt ? post.modifiedAt|date('Y-m-d H:i:s') : '' }}</small>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>


	<section class="comments">
		<h1>{{ post.comments | length }}
			avis :</h1>
		{% for comment in post.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-3">
						{{ comment.author }}
						(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
					</div>
					<div class="col">
						{{comment.content | raw}}
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

	{% if app.user %}
		{{ form_start(formComment) }}

		{{ form_row(formComment.author, {'attr' : {'placeholder': "Votre nom", 'Value': "#{ app.user.lastName } #{ app.user.firstName }", 'disabled':'disabled'}}) }}
		{{ form_row(formComment.content, {'attr' : {'placeholder': "Contenu du commentaire"}}) }}

		<button type="submit" class="btn btn-success">Envoyer le commentaire</button>

		{{ form_end(formComment) }}

	{% else %}
		<h4>Vous ne pouvez pas poster de commentaire si vous n'êtes pas connecté !</h4>
		<a class="btn btn-primary" href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
	{% endif %}


	{% if app.user.id == post.author.id and app.user.isAdmin != true %}
		<div class="row row-nav my-3">
			<div class="col">
				<button class="btn btn-primary">
					<a class="" href="{{ path('post_edit', {'id': post.id}) }}">Editer</a>
				</button>
			</div>
			<div class="col">
				{{ include('post/_delete_form.html.twig') }}
			</div>
			<div class="col">
				<button class="btn btn-primary">
					<a class="" href="{{ path('my_posts', {'id': post.author.id}) }}">Retourner à la liste</a>
				</button>
			</div>
		</div>
	{% endif %}

	{% if app.user.isAdmin %}
		<div class="row row-nav my-3">
			<div class="col">
				<button class="btn btn-primary">
					<a href="{{ path('post_edit', {'id': post.id}) }}">Editer</a>
				</button>
			</div>
			<div class="col">
				<button class="btn btn-primary">
					<a href="{{ path('admin_post_index') }}">Retourner à la liste</a>
				</button>
			</div>
			<div class="col">
				<button class="btn btn-primary">
					<a href="{{ path('user_show', {'id': post.author.id}) }}">Voir la page de l'auteur</a>
				</button>
			</div>
			<div class="col">
				{{ include('post/_delete_form.html.twig') }}
			</div>
		</div>
	{% endif %}
{% endblock %}
